html {
  height: 100%;
}

body {
  height: 100vh;
}

.container {
  padding: .5em;
  width: 100%;
}

#preview {
  width: 705px;
  height: 405px;
}

.form-wrapper {
  background: #dedede;
  padding: .8em;
  border: solid 1px gainsboro;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0.5px dimgray;
}


#textarea-url {
  font-family: monospace;
  font-size: 1.3em;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0.5px dimgray;
}

textarea {
  max-width: 100%;
  box-sizing: border-box;
}

footer {
  width: 100%;
  margin-top: auto;
  background: gainsboro;
  padding: 20px;
  text-align: center;
}

/* ***** 
Make media query to resize iframe based on screen size
*/