html {
  height: 100%;
}

body {
  height: 100vh;
  font-family: 'PT Sans', sans-serif;
  background: linear-gradient(#D0B6F3 0%, #704C5E 100%) no-repeat 100%;
  background-attachment: fixed;
}

header h1 {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.link {
  display: inline-block;
  text-decoration: none;
  color: lavenderblush;
}

.link:hover {
  text-decoration: none;
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: lavenderblush;
  transition: width .3s;
}

.link:hover::after {
  width: 100%;
}

.container {
  padding: .5em;
  width: 100%;
}

.form-wrapper {
  background: #dedede;
  padding: .8em;
  border: solid 1px gainsboro;
  border-radius: 5px;
  box-shadow: 0px 1px 7px 0.1px dimgray;
}

.card
{
  position: relative;
}
.card::before, .card::after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #444;
  -webkit-box-shadow: 0 15px 10px #444;
  -moz-box-shadow: 0 15px 10px #444;
  box-shadow: 0 15px 10px #444;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.card::after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


#textarea-url {
  font-size: 1.2em;
}

textarea {
  max-width: 100%;
  box-sizing: border-box;
}

footer {
  width: 100%;
  margin-top: auto;
  font-size: .7em;
  padding: 20px;
  text-align: center;
}

footer a{
  color: lavenderblush;
}

footer a:hover {
  color: #B88C9E;
}
